body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;

    
}

h1{
    font-size: 50px;
}
.name-color{
    color: chocolate;
}
h3{font-size: 25px;}
.dark{
    color: rgb(114, 110, 110);
}
.flex{
    display: flex;
    margin-bottom: 135px;
}
.position{
    width: 50%;
    padding-left: 5%;
}
.position img{
    width: 100%;
    
}
.my-link{
    text-decoration: none;
    color: white;
    padding: 10px 26px;
    font-size: 18px;
    border-radius: 8px;
   background-image: linear-gradient(rgb(44, 44, 167), tomato);
   
}
.baner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-position{
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
}
  .second-position img{
      width: 100%;
  }
  .bigdream{
      background-image: url(images/dream-bg.png);
      background-repeat: no-repeat;
      background-position: right;
  }
.fifty{
    width: 100%;
}
  .posi{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      box-shadow: 10px 10px 40px rgb(82, 124, 19);
      padding-left: 30px;
      border-radius: 15px;
      padding-right: 5px;
      padding-bottom: 40px;
      
  }
  .experi{
      background-image: url(images/exp-bg.png);
      background-repeat: no-repeat;
      background-position: left;
  }
  #fst-posi{
      border-left: 7px solid;
      border-image: linear-gradient(blue, cyan);
      border-image-slice: 1;
  }
  #scnd-posi{
    border-left: 7px solid;
    border-image: linear-gradient(purple, yellow, pink);
    border-image-slice: 1;
  }
  footer p {
      text-align: center;
  }